/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * RESET...............Set our reset defaults
 * TOP-BAR...............顶部导航栏
 * Banner...............Banner
 */
*{
  /* background-color: rgba(0, 0, 0, 0.1); */
}
canvas{
  position: fixed;
  top:0;
  left:0;
}
.sub-units{
  position: fixed;
  left: 20px;
  top:20px;
}
.sub-units>svg:hover{
  background-color: rgba(0,0,0,.1);
  cursor: pointer;
}
li{
  list-style: none;
}
.colors{
  /* display: flex; */
  /* flex-direction: column; */
  position: fixed;
  top:50px;
  left:20px;
}
.colors>li{
  width:20px;
  height:20px;
  border-radius: 50%;

  margin: 10px 0;
}
ol>li:active{
  background-color: rgba(0,0,0,.1);

}
.red{

  background:red;
  }
  .black{


    background:#000
    }
    .green{

      background:green;
      }

.sizes{
  position: fixed;
  right:20px;
  top:20px;

}
.sizes>li{
  background-color: black;
  width: 30px;
  margin: 5px 0;
  border: 5px solid blue;
}
.line-1{
  height: 3px;
}
.line-3{
  height: 5px;
}
.line-5{
  height: 8px;
}

/* html{cursor: url(../images/f.ico),auto;} */
